
#contact
 {
   width: 50%;
   margin:auto;
   border-left: 6px solid orange;
   background: rgba(224, 222, 222, 0.5);
   padding-bottom: 5px;
 }
 h1
 {
   text-align: center;
 }
 #contact li a
 {
   font-size: 15px;
   color: blue;
   text-decoration: underline;
 }
